* {
    font-family: Calibri;
    font-size: 16px;
}

body{
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




fieldset {
    text-align: left;
    vertical-align: middle;
    position: relative;
    float: left;

}

legend{
    float: left;
}



label{  
    float: left;
    text-align:left;
    padding-right: 2px;
}